.container-form-contacts {
    padding: 15px;
    position: relative;

    .btn-form-close {
        border: none;
        background-color: #fff;
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 10px;
        
        .bi {
            font-size: 25px;
        }
    }

    form {

        input[type=submit] {
            margin-top: 30px;
            padding-top: 14px;
            padding-bottom: 13px;
            width: 30%;
            background-color: #da491c;
            border: none;
            color: #fff;
            font-size: 16px;
        }

        .form-row {
            display: flex;
            justify-content: space-between;

            .form-box {
                width: 45%;
                position: relative;

                .btn__add {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    border: none;
                    background-color: #fff;
                }

                label {
                    display: flex;
                    align-items: center;

                    .checkbox {
                        margin-right: 15px;
                    }
                }

                input, select {
                    margin: 10px 0;
                }
            }
        }
    }
}

input[type=submit]:disabled {
    background-color:rgba(63, 81, 63, 0.4)!important;
    color: #fff;
}

.files_img {
    width: 100px;
    height: 100px;
    background-size: cover;
}